

.nolink {
	color: rgb(55, 65, 81) ;
	/*text-decoration: none !important; */
}
.nolink:hover{
	color:#1890ff;
}
body{
	font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
	height: 0;
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.ant-comment-inner{
	padding: 8px !important;
}