

a {
	color: rgb(55, 65, 81) !important;
	text-decoration: none !important; 
}
body{
	font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
	height: 0;
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}