@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/tailwind.css";


#root {
    font-family: 'Inter',sans-serif;
}

body{
	padding: 0;
	margin: 0;
	background: #FFFF;
}
::-webkit-scrollbar {
	background: transparent;
};